@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300,900italic);
body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.row {
  padding: 90px 0 92px;
}
img {
  max-width: 100%;
  height: auto;
}
.section-title {
  text-align: left;
  font-size: 52px;
  font-weight: 400;
  color: #454545;
  margin: 0 10px;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section-title span {
  font-weight: 900;
}
.lg {
  width: 260px;
}
.btn-border,
.btn-common {
  color: #ffffff;
  font-size: 22px;
  border: 1px solid #FFF;
  padding: 16px 36px;
  font-weight: 400;
  margin-left: 36px;
  margin-right: 36px;
  border-radius: 4px;
  position: relative;
  z-index: 10;
}
.btn-border:after,
.btn-common:after {
  width: 100%;
  height: 0px;
  bottom: 0px;
  left: 0px;
  background: #ffffff;
}
.btn-common {
  background: #FF8330;
  border: 1px solid #FF8330;
}
.btn-border:hover {
  color: #FF8330;
}
.btn-border:hover:after {
  height: 100%;
}
.btn-common:hover {
  color: #FF8330;
  background: #FF8330;
  border: 1px solid #FF8330;
}
.btn-common:hover:after {
  height: 100%;
}
.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Navbar  start */
#navigation {
  background: #FF8330;
  border: 1px solid #FF8330;
  color: #FF8330;
  padding-top: 50px;
  text-align: center;
  width: 300px;
  z-index: 99999;
  overflow: hidden;
}
#navigation .logo {
  margin: 0 auto;
  padding: 30px;
  width: 100px;
}
#navigation .nav li {
  border: 1px solid transparent;
  margin: 10px 40px 10px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
#navigation .nav li a {
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#navigation .nav li:hover,
#navigation .nav li.active {
  border-color: #fff;
}
/* Navbar End */
/* Header Section Start */
#header {
  width: 100%;
  background: url(../img/backgrounds/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}
#header:before {
  background: rgba(1, 0, 2, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  content: "";
  display: block;
}
#header .top-header {
  margin-top: 50px;
}
#header .top-header #menu {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  padding: 24px 30px;
  cursor: pointer;
}
#header .top-header #menu span {
  background-color: #ffffff;
  display: block;
  font-size: 0px;
  height: 3px;
  margin-top: -1px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 40px;
}
#header .top-header #menu span:before,
#header .top-header #menu span:after {
  background: #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
#header .top-header #menu span:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
#header .top-header #menu span:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}
#header .top-header #menu:hover span,
#header .top-header #menu:hover span:after,
#header .top-header #menu:hover span:before {
  background: #FF8330;
}

#header .banner {
  margin: 50px;
}
#header .banner h1 {
  color: #FF8330;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
}
#header .banner h2 {
  color: #ffffff;
  font-size: 45px;
  margin: 32px 0px 50px;
}
#header .banner h5 {
font-size:42px;
color:#3D8B37	
}
#header .banner .scroll {
  margin: 50px 0;
}
#header .banner .scroll a i {
  font-size: 48px;
  color: #FF8330;
  padding: 12px;
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .banner .scroll a i:hover {
  background: #FF8330;
  color: #ffffff;
}
/* Header Section End */
/* Works Section Start */
#works {
  background: #ffffff;
  width: 100%;
}
#works .grid-left .large {
  float: left;
  width: 430px;
  height: 100%;
  position: relative;
}
#works .grid-left .grid-box {
  position: relative;
  width: 33%;
  overflow: hidden;
}
#works .grid-left .grid-box img {
  width: 100%;
}
#works .grid-right .grid-box.large {
  width: 100%;
  height: 216px;
  position: relative;
}
#works .grid-right .grid-box {
  width: 50%;
  height: 216px;
  float: left;
  position: relative;
  overflow: hidden;
}
#works .grid-right .grid-box img {
  width: 100%;
  overflow: hidden;
}
#works .grid-right .browse-box {
  position: relative;
  width: 50%;
  float: left;
  height: 216px;
  background: #ffffff;
}
#works .grid-right .browse-box .more {
  text-align: center;
  position: absolute;
  left: 30%;
  width: 50%;
  top: 24%;
}
#works .grid-right .browse-box .more a {
  color: #FF8330;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: none;
}
#works .grid-right .browse-box .more a i {
  font-size: 50px;
  color: #FF8330;
  padding: 12px;
}
#works .large .overlay a {
  position: absolute;
  top: 42%;
  left: 42%;
}
#works .grid-box .overlay a {
  position: absolute;
  left: 38%;
  top: 36%;
}
#works .grid-box.large .overlay a {
  position: absolute;
  left: 44%;
  top: 36%;
}
#works .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 3, 8, 0.88);
  height: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#works .overlay a i {
  width: 68px;
  height: 68px;
  line-height: 66px;
  background: #fff;
  border-radius: 50%;
  font-size: 24px;
  color: #FF8330;
}
#works .large:hover .overlay,
#works .grid-box:hover .overlay {
  opacity: 1;
}
/* Works Section End */
/* Testimonial Section Start */
#testimonial {
  background: url(../img/backgrounds/bg.jpg);
  background-size: cover;
  color: #ffffff;
}
#testimonial .section-title {
  color: #ffffff;
}
#testimonial blockquote {
  border-left: none;
  margin: 0;
}
#testimonial .commant {
  float: left;
  background: rgba(54, 74, 86, 0.3);
  margin: 0 90px 0 100px;
}
#testimonial .commant .claint {
  width: 270px;
  height: 270px;
  margin-left: -15px;
  position: relative;
}
#testimonial .commant .quote {
  background: #ffffff;
  width: 64px;
  position: absolute;
  top: 12%;
  right: -67px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
}
#testimonial .commant .quote i {
  font-size: 30px;
  color: #FF8330;
  line-height: 65px;
}
#testimonial .commant .info {
  padding: 60px 60px  0px 60px;
}
#testimonial .commant .info p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
  padding-bottom: 32px;
}
#testimonial .commant .info h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
#testimonial .commant .info h5 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#testimonial .carousel-indicators {
  bottom: -50px;
}
#testimonial .carousel-indicators li {
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}
#testimonial .carousel-indicators .active {
  background-color: #FF8330;
  border: none;
}
/* Testimonial Section End */
/* Clients Section Start */
#clients .section-title i {
  color: #FF8330;
}
#clients #clients-carousel a img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#clients #clients-carousel a img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: gray;
  -webkit-transition: all .6s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  opacity: 1.0;
}
/* Clients Section End */
/* Skills Section Start */
#skills {
  background: url(../img/backgrounds/skill-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
#skills .section-title {
  color: #ffffff;
}
#skills .fact-block {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.07);
  width: 216px;
  border-radius: 50%;
  height: 216px;
  padding: 6px 6px;
  margin: 24px 60px;
  position: relative;
}
#skills .count-info {
  position: absolute;
  top: 0;
  left: 5%;
  width: 200px;
  padding: 48px 32px;
  height: 200px;
}
#skills .count-info h3 {
  font-size: 54px;
  font-weight: 700;
  line-height: 34px;
}
#skills .count-info h4 {
  font-size: 22px;
  color: #FF8330;
  text-transform: uppercase;
}
/* Skills Section End */
/* Blog Section Start */
#blog .blog-large {
  width: 100%;
  margin-top: 28px;
  position: relative;
}
#blog .large {
  position: absolute;
  width: 200px;
  height: 196px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}
#blog .large p {
  padding-top: 10px;
}
#blog .blog-item {
  position: relative;
  color: #454545;
  font-size: 15px;
  width: 100%;
  margin-top: 28px;
  height: 166px;
  overflow: hidden;
}
#blog .blog-item .content {
  background: #d8e5dd;
  width: 195px;
  height: 230px;
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  height: 166px;
  overflow: hidden;
}
#blog .blog-item .content p {
  padding-top: 10px;
}
#blog .title {
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 12px;
}
#blog .title:hover {
  color: #FF8330;
}
/* Blog Section End */
/* Feedback Section Start */
#feedback {
  background: url(../img/backgrounds/imgfooter.jpg);
  background-size: cover;
}
#feedback .section-title {
  color: #ffffff;
}
#feedback .input-group {
  padding-bottom: 20px;
}
#feedback .input-group .input-group-addon {
  border-radius: 0px;
  padding: 14px 26px;
  background-color: #FF8330;
  border: none;
  position: relative;
}
#feedback .input-group .input-group-addon i {
  color: #ffffff;
  font-size: 26px;
  width: 24px;
  height: 24px;
}
#feedback .input-group .form-control {
  color: #898989;
  font-size: 22px;
  font-weight: 300;
  padding: 15px 20px;
  height: 60px;
  border: 0;
  border-radius: 0px;
}
#feedback .input-group .form-control:focus {
  box-shadow: none;
}
#feedback .input-group .large {
  height: 120px;
}
#feedback .btn-green {
  color: #ffffff;
  font-weight: 400;
  background: #6c9c01;
  font-size: 22px;
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  height: 60px;
}
#feedback .btn-green i {
  float: left;
  width: 74px;
  background: #FF8330;
  margin: -12px;
  line-height: 56px;
  height: 60px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#feedback .address {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#feedback .address h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 30px;
}
#feedback .address .contact-info {
  padding-bottom: 30px;
}
#feedback .address .contact-info li {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
#feedback .address .contact-info li i {
  padding-right: 15px;
  font-size: 15px;
}
#feedback .address .social-icon li {
  float: left;
}
#feedback .address .social-icon li a {
  display: inline-block;
  color: #ffffff;
  margin: 0px 5px;
}
#feedback .address .social-icon li a i {
  font-size: 18px;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#feedback .address .social-icon li a .fa-twitter:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
#feedback .address .social-icon li a .fa-facebook:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
#feedback .address .social-icon li a .fa-google-plus:hover {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
#feedback .address .social-icon li a .fa-youtube:hover {
  background: #bb0000;
  border: 1px solid #bb0000;
}
#feedback .address .social-icon li a .fa-linkedin:hover {
  background: #007bb6;
  border: 1px solid #007bb6;
}
/* Feedback Section End */
/* Footer Section Start */
#footer {
  color: #ffffff;
  width: 100%;
  background: #28363f;
  border-top: 1px solid #ffffff;
}
#footer .row {
  padding: 20px 0;
}
#footer p {
  font-size: 18px;
  font-weight: 400;
}
#footer a {
  color: #FF8330;
  text-decoration: none;
}
#footer a:hover {
  color: #6c9c01;
}
/* Footer Section End */
