@media (min-width: 768px) and (max-width: 1024px) {
  /* banner Start */
  #header .banner {
    margin: 0px;
  }
  #header .banner h1 {
    font-size: 30px;
  }
  #header .banner h2 {
    font-size: 38px;
    margin: 30px 0px 42px;
  }
#header .banner h5 {
 font-size:
margin:30px 0px 42px;
color:green;
}
  /* Works Section Start */
  #works .grid-left {
    margin: 32px 0;
  }
  #works .grid-left .large {
    width: 458px;
  }
  #works .grid-left .grid-box {
    width: 229px;
  }
  #works .grid-right .grid-box.large {
    width: 96%;
    height: 338px;
  }
  #works .grid-right .grid-box {
    width: 48%;
    height: 306px;
  }
  #works .grid-right .browse-box {
    width: 48%;
    height: 306px;
  }
  #works .grid-right .browse-box .more {
    width: 40%;
  }
  /* Testimonial Section Start */
  #testimonial .commant {
    margin: 0px;
  }
  #testimonial .commant .info {
    padding: 25px 60px;
  }
  /* Clients Start */
  #clients .item.large {
    padding: 18px;
  }
  #clients .item.bg {
    padding: 12px;
  }
  /* Skills Start */
  .circliful {
    margin-left: 50px;
  }
  /* Blog */
  #blog .large {
    right: 70px;
  }
  /* Footer Statt */
  #footer p {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .section-title {
    font-size: 32px;
  }
  /* Menu Start */
  #slider #menu {
    top: 5%;
    right: 10%;
    width: 40px;
    padding: 20px 22px;
    height: 40px;
  }
  #slider #menu span {
    width: 30px;
  }
  #slider .logo {
    top: 15%;
    left: 8%;
  }
  #navigation {
    width: 180px;
  }
  #navigation .nav li {
    margin: 8px 16px;
  }
  #navigation .nav li a {
    font-size: 12px;
  }
  /* Banner  Start */
  #header .banner {
    margin: 0px;
  }
  #header .banner h1 {
    font-size: 24px;
    line-height: 30px;
  }
  #header .banner h2 {
    font-size: 30px;
    line-height: 44px;
  }
  #header .banner a {
    margin: 30px 0;
  }
  /* Works Start */
  #works .grid-left {
    width: 100%;
  }
  #works .grid-left .large {
    width: 328px;
    float: none;
  }
  #works .grid-left .grid-box {
    width: 100%;
  }
  #works .grid-right {
    width: 100%;
  }
  #works .grid-right .grid-box.large {
    width: 100%;
    height: auto;
  }
  #works .grid-right .grid-box {
    width: 100%;
    height: auto;
  }
  #works .grid-right .browse-box {
    width: 100%;
  }
  #works .grid-right .browse-box .more {
    width: 40%;
  }
  /* Testimonial Section Start */
  #testimonial .commant {
    margin-left: -10px;
  }
  #testimonial .commant .claint {
    margin-left: 0;
  }
  #testimonial .commant .quote {
    position: absolute;
    top: 88%;
    left: 40%;
  }
  #testimonial .commant .info {
    padding: 33px 0 0;
  }
  #testimonial .commant .info p {
    font-size: 14px;
    padding-top: 15px;
  }
  #testimonial .commant .info h4 {
    font-size: 18px;
  }
  #testimonial .commant .info h5 {
    font-size: 16px;
  }
  /* Clients Start */
  .owl-carousel .owl-wrapper-outer {
    margin: 65px;
  }
  /* Blog Start */
  #blog .title {
    font-size: 12px;
    padding: 0;
  }
  #blog .blog-item .content {
    width: 170px;
    padding: 5px;
    height: 164px;
  }
  #blog .blog-item .content p {
    padding-top: 5px;
    font-size: 12px;
  }
  /* Feedback Start */
  #feedback .btn-green {
    width: 294px;
  }
  #feedback .address {
    margin-top: 50px;
  }
  /* Footer Start */
  .scroll-top {
    padding-bottom: 12px;
  }
}
